.container {
 width: 26%;
 display: flex;
 align-items: center;
 height: 100vh;
}
#verifyForm {
 width: 100%;
}
#verifyForm input {
 width: 100%;
 margin: 4px 0 15px;
}
h1 {
 font-size: 22px;
 color: black;
 margin-bottom: 12px;
}
label {
 font-size: 13px;
}












